.i_copyright_left{width: 500px;float: left;}
.i_copyright_left .crl1{margin-top: 36px;}
.i_copyright_left .crl2{margin-top: 14px;}
.i_copyright_right .cr_tel{float: right;height: 50px;padding-left: 60px;margin-bottom: 8px;}
.i_copyright_right .cr_tel .cr_tel_val{font-size: 20px;margin-top: 4px;}
.i_copyright_right .cr_wx{float: right;width: 50px;height: 50px;margin-right: 10px;position: relative;}
.i_copyright_right .cr_wx_btn{width: 100%;height: 100%;display: inline-block;}
.i_copyright_right .cr_wx .cr_wx_ewm{position: absolute;    bottom: 50px; left: -45px;}
.i_copyright_right .cr_wb{width: 50px;height: 50px;float: right;margin-right: 10px;}
.i_copyright_right .cr_wb:hover{}
.i_copyright_right .cr_wb .cr_wb_btn{width: 100%;height: 100%;display: inline-block;}
.i_copyright_left{ width:1000px; }
.i_copyright_left{ width: 100%;}
.i_copyright_left p.pa{float: left;  margin-top: 30px; margin-bottom: 15px;}
.i_copyright_left .taxLogo{display: inline-block;}
.i_copyright_left .taxLogo img{height: 100px; width: 100px; margin-top: 17px; overflow: hidden;}
.i_copyright_left .crl2{ margin-top:0; }
.i_copyright_left p{ text-indent: 30px; float: left; width: 870px; line-height: 22px; }
.i_copyright_left p a{ color: #8e8e8e;  margin-right: 10px; padding-left: 7px; }
.i_copyright_left p a:hover{ text-decoration: none;color: #007FDF; }
.i_copyright_center{ position: relative; height:133px;}
.i_copyright_right{ position: absolute; right: 0; top:10px;}
.i_copyright_right .cr_tel{ background: none; padding-left: 0;  }
.i_copyright_right .cr_tel .cr_tel_val{ float: right; margin-top: 0; margin-left: 15px; }
.i_copyright_right .cr_tel .cr_tel_btn{background:url(http://cess.tax360.com.cn/images/phone.png) no-repeat;
	width: 42px; height: 45px; transition: all .3s ease-in 0s; display: inline-block;}
.i_copyright_right .cr_tel .cr_tel_btn:hover{background:url(http://cess.tax360.com.cn/images/phone.png) 0 -46px  no-repeat;}
.i_copyright_right .cr_tel .cr_tel_val span{text-align: left; line-height: 20px; font-size: 12px; display: block;}
.i_copyright_right .cr_wb{background:url(http://cess.tax360.com.cn/images/weibo.png) no-repeat;	width: 42px; height: 45px; transition: all .3s ease-in 0s;}
.i_copyright_right .cr_wb:hover{background:url(http://cess.tax360.com.cn/images/weibo.png) 0 -46px  no-repeat;}
.i_copyright_right .cr_qq{float: right; margin-right: 10px;position: relative;}
.i_copyright_right .cr_qq_btn{width: 42px; height: 45px;display: inline-block;  background:url(http://cess.tax360.com.cn/images/QQ.png) no-repeat; transition: all .3s ease-in 0s;}
.i_copyright_right .cr_qq_btn:hover{background:url(http://cess.tax360.com.cn/images/QQ.png) 0 -46px  no-repeat;}
